<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Your Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<style>
</style>
<body>
    <h1>Thank You for Your Order</h1>
    <p>Your order has been placed successfully. We will process it shortly.</p>
    <a href="{{ url_for('home') }}">Go Back to home</a>
</body>
</html>
