<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .cart-item img {
            max-width: 100px;
            height: auto;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Your Cart</h1>
    <div>
    <ul>
        {% for item in cart_items %}
        <div class="cart-item img">
            <li>
                <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" alt="{{ item.name }}">
                <h3>{{ item['name'] }}</h3>
                <p>Price: ${{ item['price'] }}</p>
                <p>Quantity: {{ item['quantity'] }}</p>
                <a href="{{ url_for('remove_from_cart', product_id=item['id']) }}">Remove from Cart</a>
            </li>
        </div>
        {% endfor %}
    </ul>
    <h2>Total Price: ${{ total_price }}</h2>
    <a href="{{ url_for('home') }}">Continue Shopping</a>
    <form action="{{ url_for('checkout') }}" method="GET">
        <button type="submit">Proceed to Checkout</button>
    </form>
</div>
</body>
</html>
